*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */

}

html, body{
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
}

nav{
    position: absolute;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav>.logo{
    transform: scale(.8);
}

ul{
    display: flex;
    float: right;
    width: 62%;
    height: 50%;
    list-style: none;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
}

li{
    cursor: pointer;
}


ul>li:last-child{
    height: 100%;
    width: 30%;
    display: flex;
}
.call{
    transform: scale(.6);
    display: inline;
    fill: #fff;
    color: white;
    /* border: 2px solid white; */
    filter: invert();
}

hr{
    position: absolute;
    width: 53%;
    margin-top: 7%;
    margin-left: 40%;

}

.content{
    position: absolute;
    margin-top: -35%;
    width: 85%;
    height: 60%;
    margin-left: 7%;
    display: flex;
    justify-content: space-between;
}


.content>.left>h1{
    color: whitesmoke;
    font-size: 3.5rem;
}

.content>.left>button{
    margin-top: 8%;
    padding: 3% 14%;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
    border-radius: 50px;
    
}
.content>.left>button:hover{
    background-color: white;
    color: black;
    transition: background-color 0.5s ease;
}



.right{
    width: 40%;
}

.right>#card-one{
    position: relative;
    bottom: 5%;
    left: 20%;
    height: 25%;
    width: 50%;
    margin-top: 2%;
    padding: 10%;
    background-color: rgba(255, 255, 255, 0.258)
}
.cardone{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15%;
    background-color: rgba(174, 193, 208, 0.977);
    /* background-color: #fff; */
}
.design1{
    display: flex;
    flex-direction: row-reverse;
    /* border: 2px solid violet; */
    width: 30%;
    align-items: center;
    justify-content:flex-end;
    position: relative;
    top: 70px;
    left: 100px;
}

.circle1{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: white;
}

.line1{
    background: white;
    height: 2px;
    width: 50%;
}
.design2{
    display: flex;
    flex-direction: column-reverse;
    /* border: 2px solid violet; */
    height: 15vh;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -226px;
    left: 40px;
}

.circle2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: white;
}

.line2{
    background: white;
    height: 80%;
    width: 2px;
}

.right>#card-two{
    position: relative;
    left: -200px;
    top: -50px;
    height: 22%;
    width: 50%;
    margin-top: 5%;
    padding: 10%;
    background-color: rgba(255, 255, 255, 0.258)
}
.cardtwo{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15%;
    /* filter: invert(); */
    background-color: rgba(174, 193, 208, 0.977);
    
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    ul,hr{
        display: none;
    }

    .content{
        flex-direction: column;
        top: 10%;
    }

    .left{
        width: 90%;
        margin-top: 40vh;
    }

    .bg-image{
        width: 90%;
        height: 120vh;
    }
    .content>.left>h1{
        color: aquamarine;
        font-size: 1.5rem;
    }
    
    .right{
        width: 90%;
        padding-top: 10vh;
        margin-top: 2vh;
    }

    .right>#card-one{
        height: 25%;
    }

    .right>#card-two{
        left: 5vh;
        height: 25%;
    }
}
